body {
	.elementor-widget:not(:last-child) {
		margin-bottom: 0;
	}
}

@media (max-width: 767px) {
	.elementor .elementor-hidden-phone {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.elementor .elementor-hidden-tablet {
		display: none;
	}
}

@media (min-width: 1025px) {
	.elementor .elementor-hidden-desktop {
		display: none;
	}
}

@media (min-width: 1200px) {
	.elementor-section.elementor-section-boxed {
		& > .elementor-container {
			max-width: 1170px;
		}

		& > .elementor-column-gap-default {
			max-width: 1190px;
		}

		& > .elementor-column-gap-extended {
			max-width: 1200px;
		}

		& > .elementor-column-gap-narrow {
			max-width: 1180px;
		}

		& > .elementor-column-gap-wider {
			max-width: 1200px;
		}

		& > .elementor-column-gap-wide {
			max-width: 1200px;
		}
	}

	.elementor-section-full_width:not( .elementor-section-stretched ):not( .elementor-inner-section ) {
		.elementor-width-farmart-large & {
			& > .elementor-container {
				max-width: 1710px;
			}
		}
	}

	.elementor-section-boxed:not( .elementor-section-stretched ):not( .elementor-inner-section ) {
		.elementor-width-farmart-large & {
			& > .elementor-container {
				max-width: 1230px;
			}
		}
	}

	.elementor-width-farmart-large {
		.elementor-section:not( .elementor-section-stretched ):not( .elementor-inner-section ) {
			& > .elementor-container {
				padding-left: 30px;
				padding-right: 30px;
			}

			& > .elementor-column-gap-default {
				padding-left: 20px;
				padding-right: 20px;
			}

			& > .elementor-column-gap-extended {
				padding-left: 15px;
				padding-right: 15px;
			}

			& > .elementor-column-gap-narrow {
				padding-left: 25px;
				padding-right: 25px;
			}

			& > .elementor-column-gap-wide {
				padding-left: 10px;
				padding-right: 10px;
			}

			& > .elementor-column-gap-wider {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}

@media ( max-width: 1199px ) {
	.elementor-width-farmart-large {
		.elementor-section:not( .elementor-section-stretched ):not( .elementor-inner-section ) {
			& > .elementor-container {
				padding-left: 15px;
				padding-right: 15px;
			}

			& > .elementor-column-gap-default {
				padding-left: 5px;
				padding-right: 5px;
			}

			& > .elementor-column-gap-extended {
				padding-left: 0;
				padding-right: 0;
			}

			& > .elementor-column-gap-narrow {
				padding-left: 10px;
				padding-right: 10px;
			}

			& > .elementor-column-gap-wide {
				padding-left: 0;
				padding-right: 0;
			}

			& > .elementor-column-gap-wider {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}

@media ( max-width: 767px ) {
	.elementor-width-farmart-large {
		.elementor-section:not( .elementor-section-stretched ):not( .elementor-inner-section ) {
			& > .elementor-container {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}