// Cart
.mini-cart-content {
	.widget_shopping_cart_content {
		border: 1px solid #cccccc;
		background-color: #fff;
	}

	ul.woocommerce-mini-cart {
		padding: 35px 25px 0;
		border-radius: 3px;
		max-height: 100vh;
		overflow-y: auto;
		overflow-x: hidden;
		&::-webkit-scrollbar {
			background: 0 0;
			width: 7px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #ccc;
		}
	}

	li.woocommerce-mini-cart-item {
		list-style: none;
		display: flex;
		position: relative;
		padding-bottom: 20px;
		margin-top: 20px;
		border-bottom: 1px solid #ccc;

		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			border: none;
		}
	}

	.product-image {
		flex: none;
		width: 60px;
		height: 60px;
		margin-right: 20px;
	}

	.product-content {
		padding-right: 40px;
	}

	.product-name {
		margin-bottom: 5px;
		a {
			line-height: 1.428;
			color: $color__darker;

			&:hover {
				color: $color__primary;
			}
		}
	}

	.quantity .amount {
		font-weight: 700;
	}

	.remove {
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		width: 20px;
		height: 20px;
		line-height: 15px;
		font-size: 20px;
		text-align: center;
		color: $color__darker;
		transition: ease .5s;

		&:hover {
			color: $color__primary;
		}

		.farmart-svg-icon {
			font-size: 20px;
			color: inherit;
		}
	}

	.control-button {
		padding: 0 25px 30px;
	}

	.woocommerce-mini-cart__total {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 700;
		color: $color__darker;
		margin: 46px 0 0;

		.amount {
			color: #fab528;
			font-size: 16px;
		}
	}

	.woocommerce-mini-cart__buttons {
		margin: 20px 0 0;
		a {
			font-weight: 700;
			width: 48%;
			text-align: center;
			padding: 8px 20px;
			color: $color__dark;
			background-color: #eeeeee;
			border-radius: 3px;
			border: 1px solid #cccccc;
			transition: ease .5s;

			&.checkout {
				background-color: $color__secondary;
				color: #fff;
				border-color: transparent;
			}
		}
	}
}

.header-element--cart {
	position: relative;
	margin: 0;

	.cart-contents {
		display: block;

		.cart-content {
			display: flex;
			align-items: center;
		}

		.cart-icon {
			position: relative;
			padding: 0 10px;
			display: block;
			line-height: 1;
		}

		.cart-content {
			&:before,
			&:after{
				display: none;
			}
		}

		.cart-text {
			margin-left: 12px;
			line-height: 1;

			.title {
				line-height: 1;
				display: block;
				margin-bottom: 7px;
				font-size: 11px;
				color: #777777;
			}
			.cart-price-total {
				color: var( --farmart-header-text-color );
				font-weight: 700;
				font-size: 16px;
				line-height: 1;
				display: block;
			}
		}

		.cart-info {
			color: #555;
			display: none;

			> * {
				display: block;
				line-height: 1.45;
			}

			.price {
				color: #2f8a33;
				font-weight: 700;
			}
		}
	}

	.dropdown {
		border-width: 1px 0 0 1px;
		border-style: solid;
		border-color: #b3b3b3;
		width: 15px;
		height: 15px;
		display: block;
		transform: translateX(-50%) rotate(45deg) scale(0);
		background-color: #fff;
		position: absolute;
		left: 50%;
		top: calc( 100% + 32px );
		z-index: 1000;
		opacity: 0;
		transition: top ease .3s;
	}

	/***Content***/
	.mini-cart-content {
		border-top: 27px solid transparent;
		opacity: .5;
		width: 360px;
		position: absolute;
		top: calc( 100% + 15px );
		right: 0;
		transform: scaleX(0);
		transition: top ease .3s;
		z-index: 999;
	}

	ul.woocommerce-mini-cart {
		max-height: 530px;
	}

	.woocommerce-mini-cart__buttons {
		display: flex;
		justify-content: space-between;
		margin: 17px 0 0;
	}

	.woocommerce-mini-cart__empty-message {
		margin: 15px 0;
		text-align: center;
	}

	&:hover {
		.mini-cart-content {
			transform: scaleX(1);
		}

		.mini-cart-content,
		.fm-cart__inner:before {
			opacity: 1;
			top: 100%;
		}

		.dropdown {
			opacity: 1;
			transform: translateX(-50%) rotate(45deg) scale(1);
			top: calc( 100% + 19px );
		}
	}
}

.cart-panel {
	position: fixed;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	display: none;
	z-index: 1600;
	&.open {
		display: block;
	}
	&.side-left {
		.box-cart-wrapper {
			left: 0;
			transform: translateX(-100%);
			&.open {
				transform: none;
			}
		}
	}
	&.side-right {
		.box-cart-wrapper {
			right: 0;
			transform: translateX(100%);
			&.open {
				transform: none;
			}
		}
	}
	.box-cart-wrapper {
		position: absolute;
		width: 350px;
		top: 0;
		height: 100%;
		max-width: 100%;
		z-index: 9999;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: #fff;
		transition: transform .4s;
		&.open {
			~ .fm-off-canvas-layer {
				display: block;
			}
		}
		.box-cart-content {
			height: calc( 100vh - 100px);
		}
		.widget_shopping_cart_content {
			border: none;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.mini-cart-content {
			height: 100%;
		}
	}
	.fm-off-canvas-layer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.25);
		&.open {
			display: block;
			z-index: 8888;
		}
	}
	.top-content {
		padding: 30px 20px 25px;
		background-color: var( --farmart-header-background-color-primary );
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: var( --farmart-header-background-text-color-primary );
		.text-cart {
			font-weight: 700;
		}
		.mini-item-counter {
			position: relative;
			display: inline-block;
			right: 0 !important;
			background-color: transparent;
			padding: 0 6px;
			font-size: 14px;
			&:before {
				content: "(";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
			}
			&:after {
				content: ")";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
			}
		}
		.go-back {
			cursor: pointer;
		}
	}
	.control-button {
		z-index: 99;
		flex: none;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		overflow: hidden;
		width: 100%;
		padding: 0 20px;
		background-color: #fff;
	}
	.woocommerce-mini-cart__total {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 700;
		font-size: 16px;
		color: #222;
		margin: 25px 0 0;
	}
	.woocommerce-mini-cart__buttons {
		a {
			display: block;
			width: 100%;
			&:last-child {
				margin-top: 10px;
			}
		}
	}
	.woocommerce-mini-cart__empty-message {
		height: 100%;
		display: flex;
		align-items: center;
		text-align: center;
		margin: 0 auto;
	}
}

.admin-bar {
	.cart-panel {
		.box-cart-wrapper {
			top: 32px;
		}
		.control-button {
			padding-bottom: 30px;
		}
	}
}

body {
	.blockUI.blockOverlay {
		position: relative;
		background-color: rgba(255, 255, 255, 0.7) !important;
		background-image: none !important;
		&:after {
			display: none;
		}

		&:before {
			position: absolute;
			top: 25%;
			left: 50%;
			z-index: 9999;
			color: transparent !important;
			content: " ";
			width: 25px;
			height: 25px;
			border-radius: 50%;
			border-width: 1px;
			border-style: solid;
			border-color: var( --fm-color-primary ) transparent var( --fm-color-primary ) transparent;
			display: inline-block;
			animation: lds-dual-ring 0.5s linear infinite;
		}
	}
}