.farmart-heading{
	.subtitle{
		font-size: 13px;
		text-transform: uppercase;
		color: var( --fm-color-secondary );
		letter-spacing: 0.15em;
		display: block;
		margin-bottom: 3px;
	}

	.title{
		margin: 0;
	}
}